In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.8.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd 
from selenium import webdriver 
import warnings 
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By 
import requests
import time

Question 1 - Scrape the details of most viewed videos on YouTube from Wikipedia

In [3]:
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
driver.maximize_window()

In [17]:
Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

Rank_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
for i in Rank_tag:
    wrank=i.text
    Rank.append(wrank)

Name_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[2]')
for i in Name_tag:
    wname=i.text
    Name.append(wname)

Artist_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
for i in Artist_tag:
    wartist=i.text
    Artist.append(wartist)
    
Upload_date_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
for i in Upload_date_tag:
    wupload=i.text
    Upload_date.append(wupload)

Views_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')
for i in Views_tag:
    wviewstag=i.text
    Views.append(wviewstag)

In [18]:
len(Rank), len(Name), len(Artist), len(Upload_date), len(Views)

(30, 30, 30, 30, 30)

In [19]:
df = pd.DataFrame({'Rank':Rank,'Video Name':Name, 'Artist':Artist, 'Upload date':Upload_date, 'Views (billions)':Views})
df

,Rank,Video Name,Artist,Upload date,Views (billions)
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.37
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.09
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.63
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.03
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.92
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.79
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.17
7,8.,"""Wheels on the Bus""[24]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.95
8,9.,"""Uptown Funk""[25]",Mark Ronson,"November 19, 2014",4.84
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.83
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.70
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.53
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.24
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.82
14,15.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.76
15,16.,"""Roar""[36]",Katy Perry,"September 5, 2013",3.73
16,17.,"""Counting Stars""[37]",OneRepublic,"May 31, 2013",3.73
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.63
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.55
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.51
20,21.,"""Waka Waka (This Time for Africa)""[41]",Shakira,"June 4, 2010",3.48
21,22.,"""Dark Horse""[42]",Katy Perry,"February 20, 2014",3.45
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.41
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.38
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.37
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.37
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.34
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.33
28,29.,"""Lakdi Ki Kathi""[49]",Jingle Toons,"June 14, 2018",3.32
29,30.,"""Humpty the train on a fruits ride""[50]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.31

Question 2 - Scrape the details team India’s international fixtures from bcci.tv

In [21]:
driver.get("https://www.bcci.tv/")

In [23]:
try:
    cookies = driver.find_element(By.XPATH,'/html/body/div[15]/button')
    cookies.click()
except:
    pass

In [24]:
fixtures = driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a')
fixtures.click()

In [32]:
Match_title=[]
Match_Series=[]
Match_Place=[]
Match_Date=[]
Match_Time=[]

title_tag=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//div/span[1]')
for i in title_tag:
    title=i.text
    Match_title.append(title.replace('-',' '))

Series_tag=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//h5[2]/span')
for i in Series_tag:
    Series=i.text
    Match_Series.append(Series)

Place_tag=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//div/span[2]')
for i in Place_tag:
    Place=i.text
    Match_Place.append(Place.replace(',',' '))
    
Date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in Date_tag:
    Date=i.text
    Match_Date.append(Date)

Time_tag=driver.find_elements(By.XPATH,'//*[@id="fixtures"]/div[3]/div//div[2]/h5')
for i in Time_tag:
    Time=i.text
    Match_Time.append(Time)

In [33]:
len(Match_title), len(Match_Series), len(Match_Place), len(Match_Date), len(Match_Time)

(4, 4, 4, 4, 4)

In [34]:
df = pd.DataFrame({'Match title':Match_title,'Series':Match_Series, 'Place':Match_Place, 'Date':Match_Date, 'Time':Match_Time})
df

,Match title,Series,Place,Date,Time
0,4th Test,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,Narendra Modi Stadium,9 MAR 2023,LIVE
1,1st ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Wankhede Stadium,17 MAR 2023,1:30 PM IST
2,2nd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,19 MAR 2023,1:30 PM IST
3,3rd ODI,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,MA Chidambaram Stadium,22 MAR 2023,1:30 PM IST

Question -3  State-wise GDP of India fromstatisticstime.com

In [112]:
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

In [4]:
driver.get("https://www.statisticstimes.com/")
driver.maximize_window()

In [5]:
try:
    cookies = driver.find_element(By.XPATH,'/html/body/div[1]/div/a')
    cookies.click()
except:
    pass

In [6]:
economy_button = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
economy_button.click()
india_button = driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
india_button.click()

In [7]:
GDP_button = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_button.click()

In [8]:
GRank = []
State = []
GSDP_1819 = []
GSDP_1920 = []
Share_1819 = []
GDP = []

GRank_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
for i in GRank_tag:
    grank=i.text
    GRank.append(grank)

State_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
for i in State_tag:
    StateR=i.text
    State.append(StateR)
    
GSDP1819_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
for i in GSDP1819_tag:
    GSDP1819=i.text
    GSDP_1819.append(GSDP1819)

GSDP1920_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
for i in GSDP1920_tag:
    GSDP1920=i.text
    GSDP_1920.append(GSDP1920)

Share1819_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
for i in Share1819_tag:
    Share1819=i.text
    Share_1819.append(Share1819)  

GDP_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
for i in GDP_tag:
    GDPT=i.text
    GDP.append(GDPT)

In [10]:
len(GRank), len(State), len(GSDP_1819), len(GSDP_1920), len(Share_1819), len(GDP)

(33, 33, 33, 33, 33, 33)

In [13]:
df = pd.DataFrame({'Rank':GRank,'State':State, 'GSDP(18-19)- at current prices':GSDP_1819, 'GSDP(19-20)- at current prices':GSDP_1920, 'Share(18-19)':Share_1819, 'GDP($ billion)':GDP})
df

,Rank,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Question 4 - Scrape the details of trending repositories on Github.com

In [75]:
driver.get("https://github.com/")

In [76]:
source = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
source.click()
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')
trending.click()

In [77]:
repository_urls=[]
for page in range(0,1):
    url=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h1/a')
    for i in url:
        repository_urls.append(i.get_attribute("href"))

In [78]:
len(repository_urls)

25

In [79]:
Repo_title = []

Repo_title_tag=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]//h1/a')
for i in Repo_title_tag:
    Repository=i.text
    Repo_title.append(Repository)

In [80]:
len(Repo_title)

25

In [100]:
Description = []
Contributor = []
Language = []

In [101]:
#Scraping data from every repository page

for url in repository_urls:
    driver.get(url)
    time.sleep(3)
 

    try:
        desc = driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Description.append(desc.text)
    except NoSuchElementException:
        Description.append('-')
    
    try:
        Contri = driver.find_element(By.XPATH,'//*[contains(text(),"Contributors")]')
        Contributor.append(Contri.text)
    except NoSuchElementException:
        Contributor.append('-')
        
    try:
        Lang = driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language.append(Lang.text)
    except NoSuchElementException:
        Language.append('-')

In [105]:
len(Repo_title), len(Description), len(Contributor), len(Language),

(25, 25, 25, 25)

In [106]:
df = pd.DataFrame({'Repository title':Repo_title,'Repository description':Description, ' Contributors count':Contributor, ' Language used':Language,})
df

,Repository title,Repository description,Contributors count,Language used
0,microsoft / visual-chatgpt,Official repo for the paper: Visual ChatGPT: T...,Contributors 8,Python
1,ggerganov / whisper.cpp,Port of OpenAI's Whisper model in C/C++,Contributors 65,C
2,oobabooga / text-generation-webui,A gradio web UI for running Large Language Mod...,Contributors 20,Python
3,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,Contributors 552,-
4,yetone / openai-translator,基于 ChatGPT API 的划词翻译浏览器插件和跨平台桌面端应用 - Browser e...,Contributors 25,TypeScript
5,wong2 / chatgpt-google-extension,A browser extension that enhance search engine...,Contributors 18,TypeScript
6,caesarHQ / textSQL,-,Contributors 14,JavaScript
7,EbookFoundation / free-programming-books,📚 Freely available programming books,"Contributors 2,495",-
8,public-apis / public-apis,A collective list of free APIs,"Contributors 1,266",Python
9,ggerganov / llama.cpp,Port of Facebook's LLaMA model in C/C++,Contributors can open PRs to either one,C
10,davinci1012 / pinduoduo_backdoor_unpacker,Samples and Unpacker of malicious backdoors an...,-,Java
11,GanymedeNil / document.ai,基于向量数据库与GPT3.5的通用本地知识库方案(A universal local kno...,Contributors 2,Python
12,camenduru / stable-diffusion-webui-colab,stable diffusion webui colab,Contributors 10,Jupyter Notebook
13,ann-afame / DEVOPS-WORLD,-,-,-
14,web-infra-dev / rspack,A fast Rust-based web bundler 🦀️,Contributors 37,Rust
15,kamranahmedse / developer-roadmap,"Interactive roadmaps, guides and other educati...",Contributors 580,Astro
16,randaller / llama-chat,Chat with Meta's LLaMA models at home made easy,Contributors 2,Python
17,neovim / neovim,Vim-fork focused on extensibility and usability,Contributors 948,Vim Script
18,IHP-GmbH / IHP-Open-PDK,"130nm BiCMOS Open Source PDK, dedicated for An...",Contributors 2,HTML
19,butaixianran / Stable-Diffusion-Webui-Civitai-...,"Stable Diffusion Webui Extension for Civitai, ...",Contributors 3,Python
20,guillaumekln / faster-whisper,Faster Whisper transcription with CTranslate2,-,Python
21,pkuliyi2015 / multidiffusion-upscaler-for-auto...,MultiDiffusion implementation with VAE VRAM op...,Contributors 3,Python
22,geohot / tinygrad,You like pytorch? You like micrograd? You love...,Contributors 98,Python
23,getaurora / download,极光官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由,-,-
24,Azure-Samples / azure-search-openai-demo,Demonstration of how to leverage Azure OpenAI ...,Contributors 4,Python

Question - 5 - 100 songs on billiboard.com

In [54]:
driver.get("https://www.billboard.com/")

In [55]:
song_button = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div/div[2]/div/div/div[1]/div[1]/button')
song_button.click()

In [56]:
topsong_button = driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
topsong_button.click()

In [71]:
song_name = []
artist_name = []
week_rank = []
peak_rank = []
Week_onboard = []

song_name_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]//li[1]/h3')
for i in song_name_tag:
    song=i.text
    song_name.append(song)

artist_name_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]//li[4]/ul/li[1]/span')
for i in artist_name_tag:
    artist=i.text
    artist_name.append(artist)

week_rank_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]//li[4]/ul/li[4]')
for i in week_rank_tag:
    weekrank=i.text
    week_rank.append(weekrank)

peak_rank_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]//li[4]/ul/li[5]')
for i in peak_rank_tag:
    peakrank=i.text
    peak_rank.append(peakrank)
    
Week_onboard_tag=driver.find_elements(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]//li[4]/ul/li[6]')
for i in Week_onboard_tag:
    Weekonboard=i.text
    Week_onboard.append(Weekonboard)

In [73]:
len(song_name), len(artist_name), len(week_rank), len(peak_rank), len(Week_onboard),

(100, 100, 100, 100, 100)

In [74]:
df = pd.DataFrame({'Song Name':song_name,'Artist Name':artist_name, 'Last week rank':week_rank, 'Peak rank':peak_rank, 'Weeks on board':Week_onboard,})
df

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Die For You,The Weeknd & Ariana Grande,6,1,31
1,Flowers,Miley Cyrus,1,1,7
2,Kill Bill,SZA,2,2,12
3,"Boy's A Liar, Pt. 2",PinkPantheress & Ice Spice,3,3,4
4,Last Night,Morgan Wallen,5,3,5
...,...,...,...,...,...
95,Besties,Karol G,-,96,1
96,Yandel 150,Yandel & Feid,90,90,4
97,Manana Sera Bonito,Karol G & Carla Morrison,-,98,1
98,The Color Violet,Tory Lanez,84,63,9
99,Die 4 Me,Halsey,-,100,1

Question - 6. Scrape the details of Highest sellingnovels

In [5]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [10]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

Book = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
for i in Book:
    bookk=i.text
    Book_name.append(bookk)

Author = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
for i in Author:
    Authorr=i.text
    Author_name.append(Authorr)

Volumes = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
for i in Volumes:
    Volumess=i.text
    Volumes_sold.append(Volumess)

Publi = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
for i in Publi:
    Publis=i.text
    Publisher.append(Publis)

Gen = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')
for i in Gen:
    Gene=i.text
    Genre.append(Gene)

In [11]:
len(Book_name), len(Author_name), len(Volumes_sold), len(Publisher), len(Genre),

(100, 100, 100, 100, 100)

In [12]:
df = pd.DataFrame({'Book Name':Book_name,'Author Name':Author_name, 'Volumes Sold':Volumes_sold, 'Publisher':Publisher, 'Genre':Genre,})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Question 7. Scrape the details most watched tv series of all time from imdb.com

In [15]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [23]:
shows_Name=[]
Year_span=[]
shows_Genre=[]
Run_time=[]
shows_Ratings=[]
shows_Votes=[]

showsN = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]//div[2]/h3/a')
for i in showsN:
    showsNN=i.text
    shows_Name.append(showsNN)

Year_s = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]//h3/span[2]')
for i in Year_s:
    Year_sp=i.text
    Year_span.append(Year_sp)

shows_G = driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in shows_G:
    shows_Ge=i.text
    shows_Genre.append(shows_Ge)

Run_t = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in Run_t:
    Run_ti=i.text
    Run_time.append(Run_ti)

shows_Ra = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div/div/div/span[2]')
for i in shows_Ra:
    shows_Rat=i.text
    shows_Ratings.append(shows_Rat)

shows_V = driver.find_elements(By.XPATH,'//*[@id="main"]/div/div[3]/div[3]//p[4]/span[2]')
for i in shows_V:
    shows_Vo=i.text
    shows_Votes.append(shows_Vo)

In [24]:
len(shows_Name), len(Year_span), len(shows_Genre), len(Run_time), len(shows_Ratings), len(shows_Votes),

(100, 100, 100, 100, 100, 100)

In [26]:
df = pd.DataFrame({'Name':shows_Name,'Year span':Year_span, 'Genre':shows_Genre, 'Run time':Run_time, 'Ratings':shows_Ratings, 'Votes':shows_Votes,})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,136,906"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,222,065"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,014,368"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"298,827"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"257,698"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,994"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,990"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"204,758"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"42,388"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"253,340"

Question 8. Details of Datasetsfrom UCI machine learning repositories

In [27]:
driver.get("https://archive.ics.uci.edu/")

In [28]:
allset = driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a')
allset.click()

In [36]:
Dataset_name=[]
Data_type=[]
Task_name=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
SetYear=[]

Dataset = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]')
for i in Dataset[1:623]:
    Datasett=i.text
    Dataset_name.append(Datasett)

Data_t = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
for i in Data_t[1:623]:
    Data_ty=i.text
    Data_type.append(Data_ty)

Task_n = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
for i in Task_n[1:623]:
    Task_na=i.text
    Task_name.append(Task_na)

Attribute_t = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
for i in Attribute_t[1:623]:
    Attribute_ty=i.text
    Attribute_type.append(Attribute_ty)

No_of_ins = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
for i in No_of_ins[1:623]:
    No_of_inst=i.text
    No_of_instances.append(No_of_inst)

No_of_att = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
for i in No_of_att[1:623]:
    No_of_attr=i.text
    No_of_attribute.append(No_of_attr)

SetY = driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
for i in SetY[1:623]:
    SetYe=i.text
    SetYear.append(SetYe)

In [37]:
len(Dataset_name), len(Data_type), len(Task_name), len(Attribute_type), len(No_of_instances), len(No_of_attribute), len(SetYear),

(622, 622, 622, 622, 622, 622, 622)

In [38]:
df = pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type, 'Task':Task_name, 'Attribute type':Attribute_type, 'No of instances':No_of_instances, 'No of attribute':No_of_attribute, 'Year':SetYear,})
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twit...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mo...,Univariate,Regression,Real,4000,2,2021

Question 9. Scrape the details of Data science recruiters

In [113]:
driver.get("https://www.naukri.com/")

In [114]:
sitemap = driver.find_element(By.XPATH,'//*[@id="root"]/footer/section[1]/div/div/div[2]/ul/li[4]/a')
sitemap.click()

In [115]:
recruiter = driver.find_element(By.XPATH,'/html/body/div[1]/div/ul/li[2]/a')
recruiter.click()

In [116]:
p = driver.current_window_handle
parent = driver.window_handles[0]
chld = driver.window_handles[1]
driver.switch_to.window(chld)

In [117]:
skillInput = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
skillInput.send_keys("Data Science")

In [118]:
datasci = driver.find_element(By.XPATH,'//*[@id="qsbFormBtn"]')
datasci.click()

In [119]:
Recruiter_Name=[]
Designation=[]
Company=[] 
hire_for=[]
Location=[]

Recruiter_tag = driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
for i in Recruiter_tag:
    Recruiter=i.text
    Recruiter_Name.append(Recruiter)

Designation_tag = driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
for i in Designation_tag:
    Desig=i.text
    Designation.append(Desig)

Company_tag = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div[2]/div/div[2]//div[1]/p/a[2]')
for i in Company_tag:
    Comp=i.text
    Company.append(Comp)

hire_for_tag = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in hire_for_tag:
    hire=i.text
    hire_for.append(hire)


Location_tag = driver.find_elements(By.XPATH,'//*[@id="tabP-1"]//span[2]/small')
for i in Location_tag:
    Loc=i.text
    Location.append(Loc)

In [121]:
len(Recruiter_Name), len(Designation), len(Company), len(hire_for), len(Location)

(50, 50, 50, 50, 49)

In [123]:
df = pd.DataFrame({'Recruiter Name':Recruiter_Name[0:49],'Designation':Designation[0:49], 'Company':Company[0:49], 'Skills they hire for':hire_for[0:49], 'Location':Location[0:49],})
df

,Recruiter Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Noida
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Mysoru / Mysore
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Bengaluru / Bangalore
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

In [3]:
driver = webdriver.Chrome(r"C:\Users\hp\chromedriver.exe")

In [4]:
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [5]:
skillInput = driver.find_element(By.XPATH,'//input[@class="sugInp"]')
skillInput.send_keys("Data Science")

In [6]:
datasci = driver.find_element(By.XPATH,'//*[@id="qsbFormBtn"]')
datasci.click()

In [15]:
hire_for=[]

In [16]:
hire_for_tag = driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
for i in hire_for_tag:
    hire=i.text
    hire_for.append(hire)

In [13]:
name=[]

desig=[]

comp=[]

loc=[]

recruiter=[i.text.split('\n') for i in driver.find_elements(By.XPATH,"//p[@class='highlightable']")]

for i in recruiter:

    try:

        name.append(i[0])

    except:

        name.append('-')

    try:

        desig.append(i[1])

    except:

        desig.append('-')

    try:

        comp.append(i[2])

    except:

        comp.append('-')

    try:

        loc.append(i[3])

    except:

        loc.append('-')

In [19]:
len(name), len(desig), len(comp), len(hire_for), len(loc)

(50, 50, 50, 50, 50)

In [17]:
df = pd.DataFrame({'Recruiter Name':name,'Designation':desig, 'Company':comp, 'Skills they hire for':hire_for,'Location':loc,})
df

,Recruiter Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
14,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Deeparchi Sharma,Company Recruiter,ZIGRAM,"Research, Digital Marketing, Analytics, Softwa...",Gurgaon
25,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Dhruv Dev Dubey,Company Recruitment Head,NETAPS FOUNDATION,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
33,Avnish Mishra,Senior Technical &amp; Corporate Recruiter,RMS Risk Management Solutions,"Data Science, Machine Learning, Deep Learning,...",Noida
34,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
35,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
36,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
37,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
38,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
39,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
40,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
41,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
42,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
43,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
44,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
45,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
46,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
47,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
48,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
49,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai